# Virtual environments
jd_match/
venv/
.venv/

# ML / HuggingFace / Torch cache
.cache/
huggingface/
transformers/
*.pt
*.bin
*.dll

# Python
__pycache__/
*.pyc

# SQLite DB
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db